@import url("fontawesome-all.min.css");

.navbar{
    border-bottom: 1px solid rgba(255,255,255,0.15);
    background-color: rgba(255,165,0, 0.1);
}

.navbar-brand{
    font-size: 35px;
}

.nav-link{
    font-size: 25px;
}

.dropdown-menu{
    background-color: rgba(167, 108, 0, 0.7);
    
}

.dropdown-item{
    color: white;
    background-color: transparent;
    
}

.dropdown-item:hover{
    /*color:#FFBF00;*/
    color: #FFBC40;
    /*color: rgb(190, 85, 43);*/
    background-color: transparent;
}
.dropdown-item:focus{
    color: orangered;
    background-color: transparent;
}

.dropdown-item:active{
    color: orangered;
    /*background-color: rgba(255,165,0, 1);*/
    background-color: transparent;
}

.dropdown-divider{
    color:rgb(155, 72, 39);
}

#item{
    color: white;     
}

#item:hover{
    color: orange;
}

#item:active{
    color: orangered;
}

.imagem-carrosel-um{
    object-fit: cover; 
    object-position: 60% 50%;  
    height: 600px;
}

.imagem-carrosel-dois{
    object-fit: cover;      
    height: 600px;
}

.carousel-caption h1{
    color: #FFBF00;    
    text-align: left;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Teko', sans-serif;   
}

.carousel-caption p{
    text-align: left;
    font-family: 'Lexend Mega', sans-serif;
    color: lightgoldenrodyellow;
}

.cartao{
    max-width: 18rem;
    margin-right: auto;
    margin-left: auto;
}

.titulo1{
    color: #FFBF00; 
}

.texto1{
    color: lightgoldenrodyellow;
    /*font-size: 36px;*/
    font-family: 'Lexend Mega', sans-serif;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	/*.navbar .nav-item:hover .nav-link{ color: #fff;  }*/
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	